# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Android & Build outputs
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/app/.cxx/
.gradle/
*.apk
*.aab
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
